.glyphicon-ban-circle, .glyphicon-ban-circle:hover {
    color:red;
    font-size:1.3em;
    -webkit-text-fill-color: red; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    padding:5px;
    vertical-align: middle;
    text-decoration: none;
}

.glyphicon-star, .glyphicon-star:hover {
    color: orange;
    font-size:1.3em;
    -webkit-text-fill-color: orange; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    padding:5px;
    vertical-align: middle;
    text-decoration: none;
}

.glyphicon-star-empty, .glyphicon-star-empty:hover {
    color: #DDD;
    font-size:1.3em;
    padding:5px;
    vertical-align: middle;
    text-decoration: none;
}

.glyphicon-thumbs-down, .glyphicon-thumbs-down:hover {
    font-size:1.3em;
    padding:5px;
    vertical-align: middle;
    text-decoration: none;
}


.glyphicon-thumbs-up, .glyphicon-thumbs-up:hover {
    font-size:1.3em;
    padding:5px;
    vertical-align: middle;
    text-decoration: none;
}

.glyphicon-question-sign, .glyphicon-question-sign:hover {
    font-size:1.3em;
    padding:5px;
    vertical-align: middle;
    text-decoration: none;
    color:yellow;
    -webkit-text-fill-color: yellow; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

code {
    /*
    background: #FFF;
    color: #000;
    padding-left: 0px;
    font-size: 1em;
    */
}
