.glyphicon-ban-circle, .glyphicon-ban-circle:hover {
    color:red;
    font-size:1.3em;
    -webkit-text-fill-color: red; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    padding:5px;
    vertical-align: middle;
    text-decoration: none;
}

.glyphicon-star, .glyphicon-star:hover {
    color: orange;
    font-size:1.3em;
    -webkit-text-fill-color: orange; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    padding:5px;
    vertical-align: middle;
    text-decoration: none;
}

.glyphicon-star-empty, .glyphicon-star-empty:hover {
    color: #DDD;
    font-size:1.3em;
    padding:5px;
    vertical-align: middle;
    text-decoration: none;
}

.glyphicon-thumbs-down, .glyphicon-thumbs-down:hover {
    font-size:1.3em;
    padding:5px;
    vertical-align: middle;
    text-decoration: none;
}


.glyphicon-thumbs-up, .glyphicon-thumbs-up:hover {
    font-size:1.3em;
    padding:5px;
    vertical-align: middle;
    text-decoration: none;
}

.glyphicon-question-sign, .glyphicon-question-sign:hover {
    vertical-align: middle;
    text-decoration: none;
    color:yellow;
    -webkit-text-fill-color: yellow; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.glyphicon-question-sign-rating, .glyphicon-question-sign-rating:hover {
    font-size:1.3em;
    padding:5px;
    vertical-align: middle;
    text-decoration: none;
    color:yellow;
    -webkit-text-fill-color: yellow; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

code {
    /*
    background: #FFF;
    color: #000;
    padding-left: 0px;
    font-size: 1em;
    */
}

input[type=checkbox] {
  /* All browsers except webkit*/
  transform: scale(2);

  /* Webkit browsers*/
  -webkit-transform: scale(2);
}

input[type=radio] {
  /* All browsers except webkit*/
  transform: scale(2);

  /* Webkit browsers*/
  -webkit-transform: scale(2);
}


.item-img {
  height:100px;
  width:100px;
  margin:auto;
  text-align: center;
  margin-right: 5px;
  margin-top: 5px;
}

.item-img button {
    margin-top:34%;
    opacity: 0.5;
    color: #000 !important;
    background: #fff !important;
    border:0px;
    outline: 0px;
    outline-offset: 0px;
}

.item-artist-title {
  width:75%;
  padding-left:5px;
}

#main-content {
  padding-top:30px;
}


.scroll{
  width:100%;
  height:21px;
  overflow:hidden;
  position:relative;
}

.scrollingtext{
  white-space:nowrap;
  position:absolute;
}