<!doctype html>
<html lang="en" ng-app="fmpApp">
<head>
    <meta charset="utf-8">
    <title>FMP</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/bower_components/ng-tags-input/ng-tags-input.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/app.css">

    <script src="/static/bower_components/jquery/dist/jquery.js"></script>
    <script src="/static/bower_components/jquery-migrate/jquery-migrate.js"></script>

    <script src="/static/bower_components/angular/angular.js"></script>
    <script src="/static/bower_components/angular-route/angular-route.js"></script>
    <script src="/static/bower_components/angular-strap/dist/angular-strap.js"></script>
    <script src="/static/bower_components/angular-strap/dist/angular-strap.tpl.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script type="text/javascript" src="/static/bower_components/ng-tags-input/ng-tags-input.min.js"></script>
    <script type="text/javascript" src="/static/js/ng-infinite-scroll.js"></script>
    <script src="/static/js/controllers.js"></script>
</head>
<body>
    {% raw %}
    <div class="navbar navbar-fixed-top navbar-default" bs-navbar>
        <div class="container-fluid">
            <a class="navbar-brand" href="#">FMP</a>
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse" >
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="collapse navbar-collapse navHeaderCollapse">
                <ul class="nav navbar-nav navbar-left">
                    <li data-match-route="/home"><a href="#/">Home</a></li>
                    <li data-match-route="/search.*"><a href="#/search/">Search</a></li>
                    <li data-match-route="/history"><a href="#/history/">History</a></li>
                    <li data-match-route="/preload"><a href="#/preload/">Preload</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div ng-include="'/static/templates/currently-playing.tpl.html'"></div>
    </div>

    <div class="container-fluid" ng-view>
    </div>
    <div class="container-fluid">
        <div class="nav navbar-fixed-bottom" role="navigation" ng-controller="ControlsCtrl">
            <div class="btn-group btn-group-justified">
                <a ng-click="prev()" class="btn btn-primary navbar-btn"><img src="/static/images/media-seek-backward.png" class="media-btn"></a>
                <a ng-click="pause()" class="btn btn-primary navbar-btn"><img ng-src="/static/images/{{ (playing_data && playing_data.playingState) || 'PLAYING' }}.png" class="media-btn"></a>
                <a ng-click="next()" class="btn btn-primary navbar-btn"><img src="/static/images/media-seek-forward.png" class="media-btn"></a>
            </div>
        </div>
    </div>
    {% endraw %}
</body>
</html>