<html>
<head>
    <title>fmp - results - {{q}}</title>
    {% include "head.html"  ignore missing %}
</head>
<body>
    
    {% include "search-form.html" ignore missing %}
    <script type="text/javascript">
        $(document).bind('pageinit', function(){
            var playerData = {
                    "player": {{ player.to_dict()|tojson|safe }}, 
                    "playing": {{ playing.to_full_dict()|tojson|safe }},
                    "volume": {{ volume|tojson|safe }},
                    "extended": {{ extended|tojson|safe }}
                },
                conductor = new ConductorModel(playerData),
                controlView = new FooterControlView({
                    "el": "#footer",
                    "conductor": conductor
                }).render(),
                footerView = new FooterView({conductor:conductor}).render();
        });
    </script>
    <br>
    <br>
    <div id="results"></div>
    <style>
        .file {
            border: 1px dotted #000;
            background: #DDD;
            margin:5px;
            padding:5px;
            color:#000;
        }
        
        .file:hover {
            background: #CCC;
            border: 1px solid #000;
        }
    </style>

    <script type="text/javascript">
        $(document).bind('pageinit', function(){
            var searchCollection = new SearchCollection({{ results|safe }}, {
                    query: {{ q|tojson|safe }},
                    filter: {{ filter_by|tojson|safe }},
                    offset: 10
                }),
                searchView = new PagerView({
                    el: "#results",
                    collection: searchCollection
                }).render();
        });
    </script>

    {% include "footer.html" ignore missing %}
    {% include "js-templates.html" ignore missing %}

</body>
</html>
