<h3>Folders</h3>
{{params}}

<script type="text/ng-template" id="nodes_renderer.html">
  <div class="tree-node tree-node-content" >

    <a class="btn btn-success btn-xs"  data-nodrag ng-click="mtoggle(this)"><span
        class="glyphicon"
        ng-class="{
          'glyphicon-chevron-right': collapsed,
          'glyphicon-chevron-down': !collapsed
        }"></span></a>
      {{dir.dirname}} <div class="pull-right badge" ng-if="dir.has_media" >has media</div>
	  </div>
	</div>
  <ol ui-tree-nodes="" ng-model="dir.children" ng-class="{hidden: collapsed}">
    <li ng-repeat="dir in dir.children" ui-tree-node ng-include="'nodes_renderer.html'" data-nodrag data-collapsed="{{dir.collapsed}}">
    </li>
  </ol>
</script>

<div class="row">
  <div class="col-sm-6">
    <div ui-tree id="tree-root" >
      <ol ui-tree-nodes ng-model="folders" data-collapsed="true">
        <li ng-repeat="dir in folders" ui-tree-node ng-include="'nodes_renderer.html'" data-collapsed="true"></li>
      </ol>
    </div>
  </div>
</div>
