<ion-view view-title="Music">
  <ion-content class="padding">
    <!--
    <div class="list card">
      <div class="item item-divider">Recent Updates</div>
      <div class="item item-body">
        <div>
          There is a fire in <b>sector 3</b>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Health</div>
      <div class="item item-body">
        <div>
          You ate an apple today!
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Upcoming</div>
      <div class="item item-body">
        <div>
          You have <b>29</b> meetings on your calendar tomorrow.
        </div>
      </div>
    </div>
    -->
    <span ng-if="playing.artists.length>0">
      <span ng-repeat="(key, artist) in playing.artists">
        {{artist.name}}<span ng-if="playing.aritsts.length>1">, </span>
      </span>
      <span ng-if="playing.titles.length>0"> - </span>
    </span>
    <span ng-if="playing.titles.length>0">
      <span ng-repeat="(key, title) in playing.titles">
        {{title.name}}<span ng-if="playing.titles.length>1">, </span>
      </span>
    </span>
    <span ng-if="playing.artists.length==0 && playing.titles.length==0">
      {{playing.locations[0].basename}}
    </span>
    <br>
    -{{remaining}} / {{position}} / {{duration}}
    <br>
    <div ng-repeat="(i, ufi) in playing.user_file_info">
        <span>{{ufi.user.name}}</span>
        <rating ng-model="ufi.rating" min="0" max="6" readonly="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" rating-states="ratingStates" ng-click="setRating(ufi)" titles="['0','1','2', '3', '4', '5', '6']"></rating>
        Rating:{{ufi.rating}}
        skip_score:{{ufi.skip_score}}
        true_score:{{ufi.true_score}}
    </div>
    YS
    <div class="yellow-star"></div>
    <div class="button-bar">
      <button class="button button-stable" ng-click="prev()">
        prev()
      </button>
      <button class="button button-stable" ng-click="pause()">
        <span ng-if="playerState==FmpConstants.PLAYING" class="icon ion-ios-pause"></span>
        <span ng-if="playerState!=FmpConstants.PLAYING" class="icon ion-ios-play"></span>
        {{playerState}}
      </button>
      <button class="button button-stable" ng-click="next()">
        next()
      </button>
    </div>
    <button class="button button-stable" ng-click="sync()">
        sync()
    </button>
    <br>
    <div ng-if="downloading.progress>0&&downloading.progress<100">
      Downloading: {{downloading.locations[0].basename}} {{downloading.progress}}%
    </div>
  </ion-content>
</ion-view>
