<a class="glyphicon glyphicon-plus"
         ng-if="!Utils.inList(PlaylistService.collection.history, item)&&!Utils.inList(Preload.collection.preload, item)"
         ng-click="addToPlaylist(item)"></a>
<a class="glyphicon glyphicon-remove"
        ng-if="(Utils.inList(PlaylistService.collection.history, item)||Utils.inList(Preload.collection.preload, item))&&
        PlayerService.collection.playingId != item.id"
        ng-click="removeFromPlaylist(item)"></a>
<span ng-if="!item.artists.length || !item.titles.length">
  <a ng-click="PlayerService.playId(item.id)" style="cursor:pointer;"><code>{{item.locations[0].basename}}</code></a>
</span>
<span ng-if="item.artists.length && item.titles.length">
  <a ng-click="PlayerService.playItem(item)" style="cursor:pointer;">
    {{item.artists[0].name}} - {{item.titles[0].name}}
  </a>
</span>
<br clear="all">
<div ng-repeat="ufi in item.user_file_info">
  {{ufi.user.name}} {{ufi.rating}}
  <a ng-click="rate(item, ufi.user.id, 0)" class="star">
    <img src="/static/images/no.star.grey.png" ng-if="ufi.rating>0"
         class="star">
    <img src="/static/images/no.star.png" ng-if="ufi.rating==0" class="star">
  </a>
  <a ng-click="rate(item, ufi.user.id, 1)"  class="star">
    <img src="/static/images/star.hover.png" ng-if="ufi.rating>=1"
         class="star">
    <img src="/static/images/star.grey.png" ng-if="ufi.rating<1"
         class="star">
  </a>
  <a ng-click="rate(item, ufi.user.id, 2)" class="star">
    <img src="/static/images/star.hover.png" ng-if="ufi.rating>=2"
         class="star">
    <img src="/static/images/star.grey.png" ng-if="ufi.rating<2"
         class="star">
  </a>
  <a ng-click="rate(item, ufi.user.id, 3)" class="star">
    <img src="/static/images/star.hover.png" ng-if="ufi.rating>=3"
         class="star">
    <img src="/static/images/star.grey.png" ng-if="ufi.rating<3"
         class="star">
  </a>
  <a ng-click="rate(item, ufi.user.id, 4)" class="star">
    <img src="/static/images/star.hover.png" ng-if="ufi.rating>=4"
         class="star">
    <img src="/static/images/star.grey.png" ng-if="ufi.rating<4"
         class="star">
  </a>
  <a ng-click="rate(item, ufi.user.id, 5)" class="star">
    <img src="/static/images/star.hover.png" ng-if="ufi.rating>=5"
         class="star">
    <img src="/static/images/star.grey.png" ng-if="ufi.rating<5"
         class="star">
  </a>
  <img src="/static/images/question.mark.svg" ng-if="ufi.rating==6"
       class="star">
  <a ng-click="thumb(item, ufi.user.id, -1)" class="glyphicon glyphicon-thumbs-down star"></a>
  <a ng-click="thumb(item, ufi.user.id, 1)" class="glyphicon glyphicon-thumbs-up star"></a> {{ufi.true_score}}
</div>
<hr>