<a class="glyphicon glyphicon-plus"
         ng-if="!Utils.inList(PlaylistService.collection.history, item)&&!Utils.inList(Preload.collection.preload, item)"
         ng-click="addToPlaylist(item)">&nbsp;</a>
<a class="glyphicon glyphicon-remove"
        ng-if="(Utils.inList(PlaylistService.collection.history, item)||Utils.inList(Preload.collection.preload, item))&&
        PlayerService.collection.playingId != item.id"
        ng-click="removeFromPlaylist(item)">&nbsp;</a>
<a class="glyphicon glyphicon-play"
   ng-if="PlayerService.collection.playingId == item.id&&!PlayerService.collection.paused"
   ng-click="PlayerService.pause()">&nbsp;</a>
<a class="glyphicon glyphicon-pause"
  ng-if="PlayerService.collection.playingId == item.id&&PlayerService.collection.paused"
  ng-click="PlayerService.play()">&nbsp;</a>
<span ng-if="!item.artists.length || !item.titles.length">
  <a class="glyphicon glyphicon-search" ng-click="doSearch(item.locations[0].basename)" title="Search for {{item.locations[0].basename}}"></a>
  <a ng-click="PlayerService.playItem(item)"><code>{{item.locations[0].basename}}</code></a>
</span>
<span ng-if="item.artists.length && item.titles.length">
  <a class="glyphicon glyphicon-search" ng-click="doSearch(item.artists[0].name)" title="Search for {{item.artists[0].name}}"></a>
  <a ng-click="PlayerService.playItem(item)">
    {{item.artists[0].name}}
  </a> -
  <a class="glyphicon glyphicon-search" ng-click="doSearch(item.titles[0].name)" title="Search for {{item.titles[0].name}}"></a>
  <a ng-click="PlayerService.playItem(item)">
    {{item.titles[0].name}}
  </a>
</span>
<br clear="all">
<div ng-repeat="ufi in item.user_file_info">
  {{ufi.user.name}}
  <a ng-click="rate(item, ufi.user.id, 0)" class="star">
    <img src="/static/images/no.star.grey.png" ng-if="ufi.rating>0"
         class="star">
    <img src="/static/images/no.star.png" ng-if="ufi.rating==0" class="star">
  </a>
  <a ng-click="rate(item, ufi.user.id, 1)"  class="star">
    <img src="/static/images/star.hover.png" ng-if="ufi.rating>=1"
         class="star">
    <img src="/static/images/star.grey.png" ng-if="ufi.rating<1"
         class="star">
  </a>
  <a ng-click="rate(item, ufi.user.id, 2)" class="star">
    <img src="/static/images/star.hover.png" ng-if="ufi.rating>=2"
         class="star">
    <img src="/static/images/star.grey.png" ng-if="ufi.rating<2"
         class="star">
  </a>
  <a ng-click="rate(item, ufi.user.id, 3)" class="star">
    <img src="/static/images/star.hover.png" ng-if="ufi.rating>=3"
         class="star">
    <img src="/static/images/star.grey.png" ng-if="ufi.rating<3"
         class="star">
  </a>
  <a ng-click="rate(item, ufi.user.id, 4)" class="star">
    <img src="/static/images/star.hover.png" ng-if="ufi.rating>=4"
         class="star">
    <img src="/static/images/star.grey.png" ng-if="ufi.rating<4"
         class="star">
  </a>
  <a ng-click="rate(item, ufi.user.id, 5)" class="star">
    <img src="/static/images/star.hover.png" ng-if="ufi.rating>=5"
         class="star">
    <img src="/static/images/star.grey.png" ng-if="ufi.rating<5"
         class="star">
  </a>
  <img src="/static/images/question.mark.svg" ng-if="ufi.rating==6"
       class="star">
  <a ng-click="thumb(item, ufi.user.id, -1)" class="glyphicon glyphicon-thumbs-down star"></a>
  <a ng-click="thumb(item, ufi.user.id, 1)" class="glyphicon glyphicon-thumbs-up star"></a> {{ufi.true_score}}<br>
  <div ng-if="!item.cued">{{ufi.reason}}</div>
</div>
<div ng-if="item.cued">{{item.cued.reason}}</div>
<hr>