<h3>Listeners</h3>
<br>
<form name="userForm">
    <div class="form-group">
        <label for="addUname">User Name:</label>
        <input type="text" class="form-control" name="addUname" id="addUname"
               ng-model="newUser.name"
               placeholder="Username" required>
    </div>
    <!--
    <div class="form-group">
        <label for="addPword">Password:</label>
        <input type="text" class="form-control" name="addPword" id="addPword"
               ng-model="user.add.pword"
               placeholder="Password" required>
    </div> -->
    <a ng-click="addUser(newUser)" class="btn btn-default">Add</a>
</form>
This server can be reached with the following urls:
<div class="table-responsive">
    <table class="table table-hover table-striped">
        <tr ng-repeat="(key, ip) in ip_addresses"><td><a href="http://{{ip}}:{{port}}">{{ip}}:{{port}}</a></td></tr>
    </table>
</div>
<hr>
<div class="table-responsive">
	<table class="table table-hover table-striped">
		<thead>
			<tr>
				<th>id</th>
				<th>uname</th>
				<th>admin</th>
				<th>listening</th>
				<!--
				<th>listening_on_satellite</th>
				<th>cue netcasts</th>
				<th ng-if="SatellitePlayer.collection.mode=='satellite'">Listening with me on satellite</th> -->
			</tr>
		</thead>
		<tr ng-repeat="(key, data) in listeners">
			<td>{{data.id}}</td>
			<td><button class="btn" ng-class="{'btn-info':data.listening}" ng-click="data.listening=!!data.listening;set_listening(data.id);">{{data.name}}</button></td>
			<td><input type="checkbox" ng-model="data.admin" ng-change="set_user_col(data.id, 'admin');"></td>
			<td><input type="checkbox" ng-model="data.listening" ng-change="set_listening(data.id, true);"></td>
			<!--
			<td><input type="checkbox" ng-model="data.listening_on_satellite" ng-change="set_user_col(data.id, 'listening_on_satellite');"></td>
			<td><input type="checkbox" ng-model="data.cue_netcasts" ng-change="set_user_col(data.id, 'cue_netcasts');"></td>
			<td ng-if="SatellitePlayer.collection.mode=='satellite'">
				<input type="checkbox" ng-model="data.on_this_browser_session"
					   ng-change="set_listening_with_me(data.id);">
			</td>
			-->
		</tr>
	</table>
</div>
<br>
<br>