<div class="modal" tabindex="-1" role="dialog" aria-hidden="false">
  <div class="modal-dialog"
  style="height:90%;">
    <div class="modal-content">
      <div class="modal-header" ng-show="title">
        <button type="button" class="close" aria-label="Close" ng-click="$hide()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Search<span ng-if="SearchService.collection.searchTerm"> - {{SearchService.collection.searchTerm}}</span></h4>
      </div>
      <div class="modal-body" style="overflow:auto;">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search"
                 title="Enter a search term, hotkeys Page Up/Down work."
                 ng-model="SearchService.collection.searchTerm"
                 ng-keyup="SearchService.timeoutSearch($event)"
                 id="searchModalInput">
          <span class="input-group-btn">
            <button class="btn btn-default glyphicon glyphicon-search"
                    type="button"
                    ng-click="search()"
            ></button>
          </span>
        </div>

        <dir-pagination-controls pagination-id="searchResults"
                                 on-page-change="SearchService.pageChanged(newPageNumber)"></dir-pagination-controls>

        <div dir-paginate="item in SearchService.collection.results[SearchService.collection.searchQuery] | itemsPerPage: SearchService.collection.limit"
            total-items="SearchService.collection.totals[SearchService.collection.searchTerm]"
            current-page="SearchService.collection.currentPage"
            pagination-id="searchResults"
            ng-class="{'playing': PlayerService.collection.playingId == item.id}"
            class="item">
            <span ng-include src="'/static/partials/item.tpl.html'"></span>
        </div>
        <br>
        <dir-pagination-controls pagination-id="searchResults"
                                 on-page-change="SearchService.pageChanged(newPageNumber)"></dir-pagination-controls>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
      </div>
    </div>
  </div>
</div>
