/* Empty. Add your own CSS if you like */

.yellow-star  {
    background-image: url("images/star.hover.png");
    background-size: 30px 30px;
    background-repeat: no-repeat;
    min-height: 30px;
    min-width: 30px;
    background-position: center;
}
.red-no  {
    background-image: url("images/no.star.png");
    background-size: 30px 30px;
    background-repeat: no-repeat;
    min-height: 30px;
    min-width: 30px;
    background-position: center;
}
.grey-no  {
    background-image: url("images/no.star.grey.png");
    background-size: 30px 30px;
    background-repeat: no-repeat;
    min-height: 30px;
    min-width: 30px;
    background-position: center;
}
.grey-star  {
    background-image: url("images/star.grey.png");
    background-size: 30px 30px;
    background-repeat: no-repeat;
    min-height: 30px;
    min-width: 30px;
    background-position: center;
}
.question-mark-on {
    background-image: url("images/question.mark.svg");
    background-size: 27px 30px;
    background-repeat: no-repeat;
    min-height: 30px;
    min-width: 30px;
    background-position: center center;
}
.question-mark-off {
    background-image: url("images/question.mark.grey.svg");
    background-size: 27px 30px;
    background-repeat: no-repeat;
    min-height: 30px;
    min-width: 30px;
    background-position: center center;
}

div.playing, span.playing  {
    background: #DDD !important;
}

div.playlist-anchor {
    float:left;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 3em;
}