    </div>
    <div data-role="footer" data-theme="b" data-position="fixed">
        <div data-role="controlgroup" data-type="horizontal" style="text-align:center;">
            <a class='player-control' href="/prev/" data-theme="c" data-role="button" data-mini="true" data-inline="true"><img src="/static/img/media-skip-backward.png"></a>
            <a class='player-control' href="/pause/" data-theme="c" data-role="button" data-mini="true" data-inline="true"><img class='playing-state-img' src="/static/img/media-playback-pause.png"></a>
            <a class='player-control' href="/next/" data-theme="c" data-role="button" data-mini="true" data-inline="true"><img src="/static/img/media-skip-forward.png"></a>
           
        </div>
    </div>
</div>
<script src="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.js"></script>
</body>
</html>
