<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" 
            href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" ></link>
    <link rel="stylesheet" type="text/css"
          href="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.css"></link>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    
    
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.0/backbone-min.js"></script>
    <script src="/static/js/lib/deep-model.min.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <style>
        .player-control img {
            height: 25px;
            width: 25px;
        }
        .ui-panel-inner .player-control img {
            height: 15px;
            width: 15px;
        }

        .keyword {
            float:left;
            padding-top:3px;
            margin-right:2px;
            padding-bottom:3px;
            padding-right:5px;
            padding-left:5px;
        }
        a.keyword {
            text-overflow: ellipsis;
            max-width: 50%;
            overflow: hidden;
            font-size:0.75em;
            
        }
    </style>
</head>
<body>
<script type="text/javascript">
    $(document).bind("mobileinit", function () {
        $.mobile.ajaxEnabled = false;
        window.formatTime = function(seconds) {
            var seconds = Math.floor(parseFloat(seconds)),
                minutes = Math.floor(seconds / 60),
                seconds = seconds % 60;
            if (seconds < 10) {
                seconds = "0"+seconds;
            }
            return minutes+":"+seconds;
        }
        window.updateTime = function(seconds) {
            $('.playing-time-status').text(window.formatTime(seconds));
        }
        var ConductorModel = Backbone.DeepModel.extend({
                url: "/status/",
                idAttribute: "fid",
                listenerLength: 0,
                initialize: function() {
                    Backbone.DeepModel.prototype.initialize.apply(this, arguments);
                    this.on("change:playing.listeners_ratings", this.checkListenersLength)
                },
                checkListenersLength: function() {
                    var listeners_ratings = this.get("playing.listeners_ratings") || [],
                        listeners_ratings_length = listeners_ratings.length;
                    if (this.listenerLength == listeners_ratings_length) {
                        return;
                    }
                    this.listenerLength = listeners_ratings_length;
                    this.trigger("change:playing.listeners_ratings.length");
                }
            }),
            pause_img = "/static/img/media-playback-pause.png",
            play_img = "/static/img/media-playback-start.png";
            window.conductor = new ConductorModel(); 
            on_change_title = function(){
                var artist_title = this.get('playing.artist_title') || 'failed',
                    title_string = "FMP - "+artist_title;
                document.title = title_string;
                $('.playing-artist-title').text(artist_title);
            },
            on_change_time = function(){
                 var pos_str = this.get('pos_data.pos_str') || 'failed';
                 $('.playing-time-status').text(pos_str);
            },
            on_state_change = function(){
                var state = this.get('state') || 'STOPPED';
                if (state == 'PLAYING') {
                    $('.playing-state-img').attr('src', play_img);
                } else {
                    $('.playing-state-img').attr('src', pause_img);
                }
            };
        conductor.on("change:playing.artist_title", on_change_title);
        conductor.on("change:pos_data.pos_str", on_change_time);
        conductor.on("change:state", on_state_change);
        conductorFetchInterval = setInterval(function() {
            conductor.fetch();
            console.log("conductor.fetch")
            return true;
        }, 5000);
        conductor.fetch();
        nano_second = 1000000000;

        setInterval(function(){
            var state = conductor.get('state');
            if (state != 'PLAYING') {
                return;
            }
            var pos = parseInt(conductor.get('pos_data.pos_int')) || 1;
            /*
            "dur_str": "3:54", 
            "dur_int": 234495000000, */

            pos += nano_second;
            conductor.set('pos_data.pos_int', pos);
            window.updateTime(Math.floor(pos / nano_second));
            return true;
        }, 1000);

        $('.player-control').bind("tap", function(evt, ui){
            evt.preventDefault();
            
            $('.player-control').removeClass("ui-btn-active");
            $.ajax({
              url: this.href,
              dataType: 'json',
              cache:false,
            }).done(function(data, textStatus, jqXHR){
                conductor.set(data);
            }).always(function(jqXHR, textStatus, errorThrown){
                $('.player-control').removeClass("ui-btn-active");
            });
        });


        $(".web-listeners").bind("change", function(evt){
            var checked = evt.currentTarget.checked,
                uid = evt.currentTarget.dataset.uid;
            console.log("CHANGED:", checked, uid);
            if (webPlayer) {
                if (checked) {
                webPlayer.uids.push(uid);
                } else {
                    webPlayer.uids = _.without(webPlayer.uids, [uid]); 
                }
            }
            $.ajax({
              url: "/listening/"+uid+"/"+checked,
              dataType: 'json',
              cache: false
            }).done(function(data, textStatus, jqXHR) {

                

            });
        });

        conductor.on("change:playing.keywords", function(){
            var playing_keywords = $(".playing-keywords"),
                keywords = conductor.get("playing.keywords"),
                template = _.template("<a class='keyword ui-li-count ui-btn-up-c ui-btn-corner-all' href='/search/?q=<%= encodeURIComponent(word) %>'><%- word %></a>")
            playing_keywords.empty();

            _.each(keywords, function(v, k){
                // console.log("keyword:",v);
                playing_keywords.append(template(v));
            });
            
        });
    });
    $( document ).on( "pageinit", "#page", function() {
        $( document ).on( "swipeleft swiperight", "#page", function( e ) {
            // We check if there is no open panel on the page because otherwise
            // a swipe to close the left panel would also open the right panel (and v.v.).
            // We do this by checking the data that the framework stores on the page element (panel: open).
            if ( $.mobile.activePage.jqmData( "panel" ) !== "open" ) {
                if ( e.type === "swipeleft"  ) {
                    $( "#right-panel" ).panel( "open" );
                } else if ( e.type === "swiperight" ) {
                    $( "#left-panel" ).panel( "open" );
                }
            }
        });
    });
</script>
<div data-role="page" data-theme="b" id="page">
    <div data-role="header" data-theme="b" data-position="fixed">
        <a href="#left-panel" data-theme="b" data-icon="grid" data-iconpos="notext" data-shadow="false" data-iconshadow="false">Open left panel</a>
        <a href="#right-panel" data-theme="b" data-icon="gear" data-iconpos="notext" data-shadow="false" data-iconshadow="false">Open right panel</a>
        <div style='text-align:center; max-width:75%; margin:auto; padding:10px;'>
            <span>FMP - </span>
            <span class='playing-artist-title'>{{jukebox.playing.artist_title}}</span>
             - 
            <span class='playing-time-status'>{{jukebox.player.pos_data['pos_str']}}</span>
            
        </div>
    </div>
    <div data-role="content">
        
