{% include "header.html" ignore missing %}
<style>
    .rating-6 {
        background-image: url(/static/img/rate.6.svg.png);
    }
    .rating-5 {
        background-image: url(/static/img/rate.5.svg.png);
    }
    .rating-4 {
        background-image: url(/static/img/rate.4.svg.png);
    }
    .rating-3 {
        background-image: url(/static/img/rate.3.svg.png);
    }
    .rating-2 {
        background-image: url(/static/img/rate.2.svg.png);
    }
    .rating-1 {
        background-image: url(/static/img/rate.1.svg.png);
    }
    .rating-0 {
        background-image: url(/static/img/rate.0.svg.png);
    }
    .rating {
        background-size:18px;
        background-repeat:no-repeat; 
        padding-left:25px;
        font-size: 16px;
        background-position:left; 
    }
    li.rating {
        background-position: 8px;
    }
    a.rating-button {
        padding:0;
        background-position: 15px;
        background-position: center;
    }
</style>
<div id="ratings"></div>
<div id="history"></div>
<script type="text/html" id="tpl-rating-button">
    <%- user %>:<a href="#<%- menu_id %>" data-rel="popup"  data-theme="c" data-role="button" 
       data-inline="true" class='open-popup rating-button rating rating-<%-rating %>'>&nbsp;</a>
    <div data-role="popup" data-theme="c" id="<%- menu_id %>">
        <ul data-role="listview" data-inset="true" data-theme="c">
            <li data-role="divider" data-theme="c">Rate:<span class='artist-title'></span></li>
            <li data-icon="false" class='rating rating-5'>
                <a class="rating-popup-link" href="/rate/<%- fid %>/<%- uid %>/5"
                   data-rating="5">Love</a>
            </li>
            <li data-icon="false" class='rating rating-4'>
                <a class="rating-popup-link" href="/rate/<%- fid %>/<%- uid %>/4"
                   data-rating="4">Cool</a>
            </li>
            <li data-icon="false" class='rating rating-3'>
                <a class="rating-popup-link" href="/rate/<%- fid %>/<%- uid %>/3"
                   data-rating="3">Good</a>
            </li>
            <li data-icon="false" class='rating rating-2'>
                <a class="rating-popup-link" href="/rate/<%- fid %>/<%- uid %>/2"
                   data-rating="2">Meh</a>
            </li>
            <li data-icon="false" class='rating rating-1'>
                <a class="rating-popup-link" href="/rate/<%- fid %>/<%- uid %>/1"
                   data-rating="1">Almost Trash</a>
            </li>
            <li data-icon="false" class='rating rating-0'>
                <a class="rating-popup-link" href="/rate/<%- fid %>/<%- uid %>/0"
                   data-rating="0">Never again</a>
            </li>
        </ul>
    </div>
</script>

<script type="text/javascript">
    window.RatingButtonView = Backbone.View.extend({
        rating: 6,
        uid: 0,
        fid: 0,
        template: _.template($("#tpl-rating-button").html()),
        initialize: function(){
            console.log("arguments[0]",arguments[0])
            this.fid = arguments[0].fid;
            this.rating = arguments[0].rating;
            this.uid = arguments[0].uid;
            this.user = arguments[0].user;
            this.menu_id = "rating-popup-menu-"+this.fid+"-"+this.uid;
        },
        render: function(){
            this.$el.html(this.template({
                "rating": this.rating,
                "uid": this.uid,
                "fid": this.fid,
                "menu_id": this.menu_id,
                "user": this.user
            })).trigger( "create" );
            this.$popupMenu = $("#"+this.menu_id);
            this.$popupMenu.find('.rating-popup-link')
                           .bind("click", _.bind(this.onRate, this));
            return this;
        },
        onRate: function(evt) {
            evt.preventDefault();
            this.$popupMenu.popup("close");
            var _this = this;
            this.rating = $(evt.currentTarget).data("rating");
            this.syncRatingImg();
            $.ajax({
              url: evt.currentTarget.href,
              dataType: 'json'
            }).done(function(data, textStatus, jqXHR) {
                var conductor_fid = conductor.get("playing.fid") || 0;
                if (conductor_fid == _this.fid) {
                    conductor.set(data);
                }
            });
        },
        syncRatingImg: function() {
            var popup_button = this.$(".open-popup");
            for (var i=0;i<7;i++) {
                popup_button.removeClass("rating-"+i)
            }
            popup_button.addClass("rating-"+this.rating);
        }
    });

    $(document).bind("mobileinit", function () {
        
        conductor.on("change:playing.history",function(){
            $("#history").text("works");
            var playing_history = conductor.get('playing.history');
            _.each(playing_history, function(v, k){

            });
        });
        var renderRatings = function(){
            var ratings = conductor.get('playing.listeners_ratings') || [],
                $ratings = $("#ratings");
            $ratings.empty();
            _.each(ratings, function(rating){
                console.log("rating",rating)
                var ratingDiv = $("<div></div>");
                $ratings.append(ratingDiv);
                var ratingView = new RatingButtonView({
                    "user": rating['user.uname'],
                    "uid": rating.uid,
                    "fid": rating.fid,
                    "rating": rating.rating,
                    "el": ratingDiv
                }).render();
            });
        }
        conductor.on("change:playing.fid", renderRatings);
        conductor.on("change:playing.listeners_ratings.length", renderRatings);
        
        
    });
</script>
{% include "footer.html" %}
