{% include "header.html" ignore missing %}
<style>
    .rating-6 {
        background-image: url(/static/img/rate.6.svg.png);
    }
    .rating-5 {
        background-image: url(/static/img/rate.5.svg.png);
    }
    .rating-4 {
        background-image: url(/static/img/rate.4.svg.png);
    }
    .rating-3 {
        background-image: url(/static/img/rate.3.svg.png);
    }
    .rating-2 {
        background-image: url(/static/img/rate.2.svg.png);
    }
    .rating-1 {
        background-image: url(/static/img/rate.1.svg.png);
    }
    .rating-0 {
        background-image: url(/static/img/rate.0.svg.png);
    }
    .rating {
        background-size:18px;
        background-repeat:no-repeat; 
        padding-left:25px;
        font-size: 16px;
        background-position:left; 
    }
    li.rating {
        background-position: 8px;
    }
    a.rating-button {
        padding:0;
        background-position: 15px;
        background-position: center;
    }

    .ui-panel.ui-panel-open {
        position:fixed;
    }
    .ui-panel-inner {
        position: absolute;
        top: 1px;
        left: 0;
        right: 0;
        bottom: 0px;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
    }
</style>
<!--
<audio controls>
    <source src="/stream/{{jukebox.playing.fid}}/ogg" type="audio/ogg">
    <source src="/stream/{{jukebox.playing.fid}}/mp3" type="audio/mpeg">
    Your browser does not support the audio element.
</audio> -->
<div id="ratings"></div>
<br clear="all">
<div id="history"></div>
<br clear="all">
<script type="text/html" id="tpl-history">
    <h2>History - <span class='playing-artist-title'></span></h2>
    <ul data-role="listview" data-theme="d" data-divider-theme="d" class="history-listview"></ul>
</script>
<script type="text/html" id="tpl-history-li-divider">
    <li data-role="list-divider"><%- time_played %><span class="ui-li-count"></span></li>
</script>
<script type="text/html" id="tpl-history-li">
    <li>
        <h3 class='history-user'><%- user %></h3>
        <p><strong>Fid:<span class='history-fid'><%- fid %></span></strong></p>
        <p><strong>Percent Played:<span class='history-percent_played'><%- percent_played.toFixed(2) %></span></strong></p>
        <p><strong>Rating:<span class='history-rating'><%- rating %></span></strong></p>
        <p><strong>Skip Score:<span class='history-skip_score'><%- skip_score %></span></strong></p>
        <p><strong>True Score:<span class='history-true_score'><%- true_score.toFixed(2) %></span></strong></p>
    </li>
</script>

<script type="text/html" id="tpl-rating-button">
    <%- user %>:<a href="#<%- menu_id %>" data-rel="popup"  data-theme="c" data-role="button" 
       data-inline="true" class='open-popup rating-button rating rating-<%-rating %>'>&nbsp;</a>
    <div data-role="popup" data-theme="c" id="<%- menu_id %>">
        <ul data-role="listview" data-inset="true" data-theme="c">
            <li data-role="divider" data-theme="c">Rate:<span class='playing-artist-title'></span></li>
            <li data-icon="false" class='rating rating-5'>
                <a class="rating-popup-link" href="/rate/<%- fid %>/<%- uid %>/5"
                   data-rating="5">Love</a>
            </li>
            <li data-icon="false" class='rating rating-4'>
                <a class="rating-popup-link" href="/rate/<%- fid %>/<%- uid %>/4"
                   data-rating="4">Cool</a>
            </li>
            <li data-icon="false" class='rating rating-3'>
                <a class="rating-popup-link" href="/rate/<%- fid %>/<%- uid %>/3"
                   data-rating="3">Good</a>
            </li>
            <li data-icon="false" class='rating rating-2'>
                <a class="rating-popup-link" href="/rate/<%- fid %>/<%- uid %>/2"
                   data-rating="2">Meh</a>
            </li>
            <li data-icon="false" class='rating rating-1'>
                <a class="rating-popup-link" href="/rate/<%- fid %>/<%- uid %>/1"
                   data-rating="1">Almost Trash</a>
            </li>
            <li data-icon="false" class='rating rating-0'>
                <a class="rating-popup-link" href="/rate/<%- fid %>/<%- uid %>/0"
                   data-rating="0">Never again</a>
            </li>
        </ul>
    </div>
</script>

<script type="text/javascript">
    window.RatingButtonView = Backbone.View.extend({
        rating: 6,
        uid: 0,
        fid: 0,
        template: _.template($("#tpl-rating-button").html()),
        initialize: function(options){
            this.fid = options.fid;
            this.rating = options.rating;
            this.uid = options.uid;
            this.user = options.user;
            this.menu_id = "rating-popup-menu-"+this.fid+"-"+this.uid;
        },
        render: function(){
            this.$el.html(this.template({
                "rating": this.rating,
                "uid": this.uid,
                "fid": this.fid,
                "menu_id": this.menu_id,
                "user": this.user,
            })).trigger( "create" );
            this.$popupMenu = $("#"+this.menu_id);
            this.$popupMenu.find('.rating-popup-link')
                           .bind("click", _.bind(this.onRate, this));
            return this;
        },
        onRate: function(evt) {
            evt.preventDefault();
            this.$popupMenu.popup("close");
            var _this = this;
            this.rating = $(evt.currentTarget).data("rating");
            this.syncRatingImg();
            $.ajax({
              url: evt.currentTarget.href,
              dataType: 'json'
            }).done(function(data, textStatus, jqXHR) {
                var conductor_fid = conductor.get("playing.fid") || 0;
                if (conductor_fid == _this.fid) {
                    conductor.set(data);
                }
            });
        },
        syncRatingImg: function() {
            var popup_button = this.$(".open-popup");
            for (var i=0;i<7;i++) {
                popup_button.removeClass("rating-"+i)
            }
            popup_button.addClass("rating-"+this.rating);
        }
    });

    window.HistoryModel = Backbone.Model.extend({
        idAttribute: "uhid",
    });

    window.HistoryCollection = Backbone.Collection.extend({
        model: HistoryModel
    })

    window.HistoryViewLiView = Backbone.View.extend({
        initialize: function(options){
            this.model = options.model;
            this.model.on("change", this.onModelChange);
            this.parentEl = options.parentEl;
        },
        onModelChange: function(){
            console.log("MODEL CHANGED:", self.model.toJSON());
        },
        render: function(){
            return this;
        }
    });

    window.HistoryView = Backbone.View.extend({
        template: _.template($("#tpl-history").html()),
        template_li_divider: _.template($("#tpl-history-li-divider").html()),
        template_li: _.template($("#tpl-history-li").html()),
        initialize: function(options) {
            this.collection = options.collection;
            this.model = options.model;
            this.el = options.el;
            this.collection.on("add", this.onAddCollection, this);
        },
        onAddCollection: function(model, collection, evt){
            if (evt.add) {
                var attrs = model.toJSON();
                attrs['user'] = model.get('user.uname');
                this.$ul.append(this.template_li_divider(attrs));
                this.$ul.append(this.template_li(attrs));
                this.$ul.listview("refresh");
                model.el = this.$ul.find("li:last");
                model.on("change", this.onModelChange, this);
            }
        },
        onModelChange:function(model){
            _.each(model.changed, function(v, k){
                if (k == 'percent_played' || k == 'true_score') {
                    v = v.toFixed(2);
                }
                model.el.find(".history-"+k).text(v);
            });
        },
        render: function() {
            this.$el.html(this.template({}));
            this.$ul = this.$el.find("ul");
            this.$ul.trigger("create");
            return this;
        }
    });

    $(document).bind("mobileinit", function () {
        var historyModel = new HistoryModel(),
            historyCollection = new HistoryCollection(),
            historyView = new HistoryView({
                "el": "#history",
                "model": historyModel,
                "collection": historyCollection
            }).render();
        conductor.on("change:playing.history",function(){
            var playing_history = conductor.get('playing.history');
            _.each(playing_history, function(v, k){
                var present = historyView.collection.get(v.uhid);
                v.time_played = new Date(v.time_played);
                v.date = new Date(v.date);
                if (!present) {
                    historyCollection.add(v);
                } else {
                    present.set(v);
                }
            });

            /* $("#history").text("works");

            var playing_history = conductor.get('playing.history');
            _.each(playing_history, function(v, k){

            }); */
        });
        var renderRatings = function(){
            $("#history").find("ul").empty();
            var ratings = conductor.get('playing.listeners_ratings') || [],
                $ratings = $("#ratings");
            $ratings.empty();
            _.each(ratings, function(rating){
                console.log("rating",rating)
                var ratingDiv = $("<div></div>");
                $ratings.append(ratingDiv);
                var ratingView = new RatingButtonView({
                    "user": rating['user.uname'],
                    "uid": rating.uid,
                    "fid": rating.fid,
                    "rating": rating.rating,
                    "el": ratingDiv
                }).render();
            });
        }
        conductor.on("change:playing.fid", renderRatings);
        conductor.on("change:playing.listeners_ratings.length", renderRatings);
    });
</script>
{% include "footer.html" %}
