{% include "header.html" ignore missing %}
<div id="ratings"></div>
<br clear="all">
<div id="history"></div>
<br clear="all">
<div id="user-agent"></div>
<br clear="all">
<script type="text/html" id="tpl-history">
    <h2>History - <span class='playing-artist-title'></span></h2>
    <ul data-role="listview" data-theme="d" data-divider-theme="d" class="history-listview"></ul>
</script>
<script type="text/html" id="tpl-history-li-divider">
    <li data-role="list-divider"><%- time_played %><span class="ui-li-count"></span></li>
</script>
<script type="text/html" id="tpl-history-li">
    <li>
        <h3 class='history-user'><%- user %></h3>
        <p><strong>Fid:<span class='history-fid'><%- fid %></span></strong></p>
        <p><strong>True Score:<span class='history-true_score'><%- true_score.toFixed(2) %></span></strong></p>
        <p><strong>Percent Played:<span class='history-percent_played'><%- percent_played.toFixed(2) %></span></strong></p>
        <p><strong>Rating:<span class='history-rating'><%- rating %></span></strong></p>
        <p><strong>Skip Score:<span class='history-skip_score'><%- skip_score %></span></strong></p>
    </li>
</script>

<script type="text/html" id="tpl-rating-button">
    <%- user %>:<a href="#<%- menu_id %>" data-rel="popup"  data-theme="c" data-role="button" 
       data-inline="true" class='open-popup rating-button rating rating-<%-rating %>'>&nbsp;</a>
    <div data-role="popup" data-theme="c" id="<%- menu_id %>">
        <ul data-role="listview" data-inset="true" data-theme="c">
            <li data-role="divider" data-theme="c">Rate:<span class='playing-artist-title'></span></li>
            <li data-icon="false" class='rating rating-5'>
                <a class="rating-popup-link" href="/rate/<%- fid %>/<%- uid %>/5"
                   data-rating="5">Love</a>
            </li>
            <li data-icon="false" class='rating rating-4'>
                <a class="rating-popup-link" href="/rate/<%- fid %>/<%- uid %>/4"
                   data-rating="4">Cool</a>
            </li>
            <li data-icon="false" class='rating rating-3'>
                <a class="rating-popup-link" href="/rate/<%- fid %>/<%- uid %>/3"
                   data-rating="3">Good</a>
            </li>
            <li data-icon="false" class='rating rating-2'>
                <a class="rating-popup-link" href="/rate/<%- fid %>/<%- uid %>/2"
                   data-rating="2">Meh</a>
            </li>
            <li data-icon="false" class='rating rating-1'>
                <a class="rating-popup-link" href="/rate/<%- fid %>/<%- uid %>/1"
                   data-rating="1">Almost Trash</a>
            </li>
            <li data-icon="false" class='rating rating-0'>
                <a class="rating-popup-link" href="/rate/<%- fid %>/<%- uid %>/0"
                   data-rating="0">Never again</a>
            </li>
        </ul>
    </div>
</script>

<script type="text/javascript">
    $(document).bind("mobileinit", function () {
         
        $('#user-agent').text(navigator.userAgent);
        var ps4Re = /PlayStation\ 4/i;
        if (ps4Re.test(navigator.userAgent)) {
            document.body.width=300;
        } 
        var historyModel = new HistoryModel(),
            historyCollection = new HistoryCollection(),
            historyView = new HistoryView({
                "el": "#history",
                "model": historyModel,
                "collection": historyCollection,
                "conductor": conductor
            }).render(),
            ratingsView = new RatingView({
                "el": "#ratings",
                "conductor": conductor
            }).render();
            conductor.trigger("change:artist_title");
    });
</script>
{% include "footer.html" %}
