<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" 
              type="image/svg+xml" 
              href="/static/fmp-logo.svg">
        <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
        <script src="/static/js/angular.min.js"></script>
        <script src="/static/js/ui-bootstrap-tpls-0.13.4.min.js"></script>
        <script type="text/javascript">

            function connecWs() {
                console.log("connecting....");
                websocket = 'ws://localhost:5050/ws';
                try {
                    if (window.WebSocket) {
                        ws = new WebSocket(websocket);
                    }
                    else if (window.MozWebSocket) {
                        ws = MozWebSocket(websocket);
                    }
                    else {
                        $('#time-status').text("WebSocket Not Supported");
                        return;
                    }
                } catch (e) {
                    console.log("Catch:", e)
                    setTimeout(connecWs, 10000);
                    return;
                }
                ws.onopen = function(evt) {
                    ws.send(JSON.stringify({"connected": "ok"}));
                };
                ws.onmessage = function (evt) {
                    console.log("EVT:", evt);
                    var obj = JSON.parse(evt.data);
                    console.log("evt.data:", obj);
                    if (typeof obj['time-status'] != 'undefined') {
                        $('#time-status').text(obj['time-status']['str']);
                        return;
                    }

                    if (typeof obj['CONNECTED'] != 'undefined') {
                        $('#conneted').text(evt.data);
                        return;
                    }

                    if (typeof obj['state-changed'] != 'undefined') {
                        if (obj['state-changed'] == 'PLAYING') {
                            $(".play-pause").text('Pause');
                        }
                        if (obj['state-changed'] == 'PAUSED') {
                            $(".play-pause").text('Play');
                        }
                    }

                    if (typeof obj['player-playing']  != 'undefined') {
                        var artist_title = "",
                            aritst = "",
                            title = obj['player-playing']['title'] || "";

                        if (typeof obj['player-playing']['episode_title'] != 'undefined') {
                            artist = obj['player-playing']['netcast_name'] || "";
                            title = obj['player-playing']['episode_title'] || "";
                        }
                        if (typeof obj['player-playing']['artists'] != 'undefined' && obj['player-playing']['artists']) {
                            artist = obj['player-playing']['artists'][0]['artist'] || "";
                        }


                        if (artist) {
                            artist_title = artist;
                        }
                        if (artist) {
                            artist_title += " - "+ title;
                        } else {
                            artist_title = title;
                        }
                        $("#artist_title").text(artist_title);
                        console.log("artist-title:", artist_title)
                    }
                };

                ws.onclose = function(evt) {
                    $('#time-status').text("Server closed");
                    setTimeout(connecWs, 5000);
                };
            }
            $(document).ready(function() {
                connecWs();
                $("#next").click(function(e) {
                    e.preventDefault();
                    $.get("/next/");
                });

                $(".play-pause").click(function(e) {
                    e.preventDefault();
                    $.get("/pause/");
                });

                $("#prev").click(function(e) {
                    e.preventDefault();
                    $.get("/prev/");
                });
                
            });
        </script>
        <style>
            #conneted {
                bottom:0px;
                position: absolute;
            }
        </style>
    </head>
    <body>
        <div id="artist_title"></div>
        
        <button id="prev">Prev</button>
        <button class="play-pause">Pause</button>
        <button id="next">Next</button>
        <span id="time-status"></span>

        <div id="conneted"></div>
    </body>
</html>