<h3>Player</h3>
<span id="time-status">
    <span ng-if="PlayerData.collection.mode=='remote'">{{PlayerData.collection.time_status}}</span>
    <span ng-if="PlayerData.collection.mode=='satellite'">
        {{ SatellitePlayer.collection.time_status }}
    </span></span>
<div ng-bind-html="PlayerData.collection.artist_title"></div>
<div class="reason" ng-if="PlayerData.collection.reason">{{ PlayerData.collection.reason }}</div>
<script type="text/ng-template" id="genre-template">

  <div class="tag-template">
    <div>
      <a href="/#/search/?q={{data.genre}}">{{data.genre}}</a>
      <a class="remove-button" ng-click="$removeTag()">&#10006;</a>
    </div>
  </div>

</script>

Mode: <select name="singleSelect" id="singleSelect" ng-model="PlayerData.collection.mode" ng-change="PlayerData.setMode(PlayerData.collection.mode)">
      <option value="remote">Remote</option> <!-- interpolation -->
      <option value="satellite">Satellite</option>
</select><br>



<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-lg-4" ng-if="PlayerData.collection.owners&&PlayerData.collection.owners.length>0">
            Owners:
            <span ng-repeat="(key, data) in PlayerData.collection.owners">
                <a ng-if='data.owner' href="/#/search/?owner={{data.uid}}" class="badge" >{{data.uname}}</a>
            </span>
        </div>
        <div class="col-md-3 col-lg-3">
            <span ng-if="PlayerData.collection.fid">
            <h4>Genre(s)</h4>
            <tags-input ng-model="PlayerData.collection.genres" 
                        display-property="genre" 
                        placeholder="Add a genre" 
                        class="bootstrap"
                        template="genre-template"
                        min-length="1"
                        replace-spaces-with-dashes="false"
                        on-tag-added="onAddGenre(PlayerData.collection.fid, $tag)"
                        on-tag-removed="onRemoveGenre(PlayerData.collection.fid, $tag)">
                <auto-complete source="PlayerData.collection.loadGenres($query)"></auto-complete>
            </tags-input>
            </span>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><hr/></div>
    </div>

    <div class="row" ng-repeat="(key, data) in PlayerData.collection.ratings">
        <div class="col-xs-2 col-sm-1 col-md-1 col-lg-1" style="min-height:40px;">
            <button class="btn" ng-click="PlayerData.setIam(data.uid)" ng-class="{'btn-default':(PlayerData.collection.iam!=data.uid), 'btn-info':(PlayerData.collection.iam==data.uid)}"></button>
        </div>
        <div class="col-xs-4 col-sm-3 col-md-2 col-lg-3">
            <button ng-if="PlayerData.collection.mode=='remote'" class="btn" ng-class="{'btn-info':(PlayerData.votedToSkip(data.uid)),
                     'btn-default':(!PlayerData.votedToSkip(data.uid))}" 
                ng-click="PlayerData.voteToSkip(data.uid)">{{data.uname}} vote to skip 
                <span ng-if="PlayerData.collection.seconds_left_to_skip&&PlayerData.votedToSkip(data.uid)" class="badge">{{PlayerData.collection.seconds_left_to_skip}}</span> 
                <span class="glyphicon glyphicon-fast-forward">
            </button>
            <span ng-if="PlayerData.collection.mode=='satellite'"> {{data.uname}}</span>
            <button ng-if="PlayerData.collection.mode=='satellite'" class="btn btn-default" 
                ng-click="SatellitePlayer.next()"><span class="glyphicon glyphicon-fast-forward"></button>
            <button class="btn btn-default btn-xs" ng-if="data.sync_dir"
                    ng-click="sync(PlayerData.collection.fid, data.uid)">Sync</button>
        </div>
        <div ng-controller="RatingCtrl" class="rating-div col-xs-12 col-sm-4 col-md-4 col-lg-3" ng-if="data.fid">
            <rating ng-model="data.rating" min="0" max="6" readonly="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" rating-states="ratingStates" ng-click="setRating()" titles="['0','1','2', '3', '4', '5', '6']"></rating><br>
            
        </div>
        
        <div class="col-xs-4 col-sm-2 col-md-2 col-lg-2" ng-controller="RatingCtrl" style="cursor:pointer;" ng-if="PlayerData.collection.fid">
            <a class="glyphicon glyphicon-thumbs-up" ng-click="upScore(data)"></a>
            <a class="glyphicon glyphicon-thumbs-down" ng-click="downScore(data)"></a>
             {{data.true_score}}
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><hr/></div>
    </div>
  
</div>
<br clear="all">
<br clear="all">

<div ng-if="PlayerData.collection.mode=='satellite'">
    <div ng-repeat="(key, data) in SatellitePlayer.collection.playlist">
        <li>playlist:{{data.basename}}</li>
    </div>
    <div ng-repeat="(key, data) in SatellitePlayer.collection.preload">
        <li>preload:{{data.basename}}</li>
    </div>
</div>

<ul ng-if="PlayerData.collection.iam==1">
  <li ng-repeat="(key, data) in PlayerData.collection track by key">
    {{key}}: <span ng-if="key!='player'">{{ data }}</span>
  </li>
</ul>