
@font-face {
    font-family: FreeSans;
    src: url('/static/css/FreeSans.ttf');
    font-family: FreeSansBold;
    src: url('/static/css/FreeSansBold.ttf');
}

body {
    font-family: FreeSans;
    font-size: 1.75em;
    padding-bottom: 70px; 

}

.show-desktop {
    display: block;
}

.show-mobile {
    display: none;
}


@media screen and (max-width: 1200px) {

    .show-desktop {
        display: none;
    }

    .show-mobile {
      display: block;
    }
}

@media screen and (max-width: 768px) {
    body { 
        font-family: FreeSans;
        font-size: 1.5em;
    }
}


.rating {
  color: #a9a9a9;
  margin: 0;
  padding: 0;
  font-size:1.70em;
}

ul.rating {
  display: inline-block;
}

.rating li {
  list-style-type: none;
  display: inline-block;
  padding: 1px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  vertical-align:middle;
}

.rating .filled {
  color: orange;
}

.small-no {
    height: auto;
    width: 21px;
    vertical-align:middle;
}

.ratings-box {
    min-height:75px;
}

.artist-title {
    max-width: 90%;
    text-overflow:ellipsis;
}

.media-btn {
    height: auto;
    width: 22px;
}

.accordion-toggle {
    cursor:pointer;
}

.rate-me {
  color:red;
  font-weight: bold;
  font-size: 0.75em;
}

.loading {
    right: 0;
    bottom: 40px;
    border: 5px solid #000;
    background: #fff;
    z-index: 1000;
    padding:5px;
    position: fixed;
}

.search-item {
  border-top: 1px solid #000; 
  padding-bottom:5px; 
  padding-top:5px;
  margin-top: 3px;
}

.item-info {
  cursor: pointer;
}
