<div class="clear-fix" style="height:45px;"></div>
<h3>Currently Playing <span class="visible-xs-block pull-right badge">xs</span>
<span class="visible-sm-block pull-right badge">sm</span>
<span class="visible-md-block pull-right badge">md</span>
<span class="visible-lg-block pull-right badge">lg</span></h3>
<div ng-controller="CurrentlyPlayingCtrl">
    <div class="pull-right">
        <div class="badge">{{playing_data.history[0].reason}}</div>
        <br clear="right">
        <span ng-repeat="loc in playing_data.locations track by loc.dirname" class="pull-right">
            <span class="label location label-primary"
                  title="{{loc.dirname}}" 
                  data-template="/static/templates/file-action.tpl.html?_={{cacheFix}}"
                  data-auto-close="1"
                  data-content="TEST"
                  data-title="{{loc.dirname}}"
                  data-placement="left"
                  bs-popover="popover">{{loc.label}}</span>
        </span>
        
    </div>
    <div class='artist-title'>
        <span ng-repeat="a in playing_data.artists track by a.artist" ng-if="playing_data.artists">
            <a href="#/search/{{ a.artist }}">{{ a.artist }}</a><span ng-show="!$last">, </span>
        </span> <span ng-if="playing_data.artists.length > 0">-</span>
        <a href="#/search/{{ playing_data.title }}" ng-if="playing_data.title">{{ playing_data.title }}</a>
        <a href="#/search/{{ playing_data.basename }}" ng-if="!playing_data.title && playing_data.basename != '-missing-'">{{ playing_data.basename }}</a>
        <span ng-if="playing_data.basename == '-missing-'">{{ playing_data.artist_title }} </span>
        <small ng-if="playing_data.pos_data.left_str">
            -{{ playing_data.pos_data.left_str }} {{ playing_data.pos_data.pos_str }}/{{ playing_data.pos_data.dur_str }}
        </small>
        <div ng-if="!playing_data.pos_data.left_str">Initializing ...</div>
    </div>
    <div class='ratings-box' ng-if="playing_data.ratings">
        <span ng-repeat="rating in playing_data.ratings">
          {{rating.uname}} <span class="label location label-primary"><a href='#/search/true_score:{{ rating.true_score  | number:0 }}' class='true_score_badge'>{{ rating.true_score | number : 2}}</a></span>
          <div class="star-rating" star-rating rating-value="rating" data-max="6"></div>
        </span>
    </div>
    
</div>