<div class="clear-fix" style="height:45px;"></div>


<h3>Currently Playing <span class="visible-xs-block pull-right badge">xs</span>
<span class="visible-sm-block pull-right badge">sm</span>
<span class="visible-md-block pull-right badge">md</span>
<span class="visible-lg-block pull-right badge">lg</span></h3>
<div ng-controller="CurrentlyPlayingCtrl">
    <div class='artist-title'>
        <span ng-repeat="a in playing_data.artists" ng-hide="!playing_data.artists">
            <a href="#/search/{{ a.artist }}">{{ a.artist }}</a><span ng-show="!$last">, </span>
        </span> <span ng-show="playing_data.artists.length > 0">-</span>
        <a href="#/search/{{ playing_data.title }}" ng-hide="!playing_data.title">{{ playing_data.title }}</a>
        <a href="#/search/{{ playing_data.basename }}" ng-hide="playing_data.title || playing_data.basename == '-missing-'">{{ playing_data.basename }}</a>
        <span ng-show="playing_data.basename == '-missing-'">{{ playing_data.artist_title }}</span>
        <small ng-hide="!playing_data.pos_data.left_str">
            -{{ playing_data.pos_data.left_str }} {{ playing_data.pos_data.pos_str }}/{{ playing_data.pos_data.dur_str }}
        </small>
        <div ng-show="!playing_data.pos_data.left_str">Initializing ...</div>
    </div>
    <div class='ratings-box'>
        <span ng-repeat="rating in playing_data.ratings">
          {{rating.uname}} {{ rating.true_score | number : 2}}
          <div class="star-rating" star-rating rating-value="rating" data-max="6"></div>
        </span>
    </div>
</div>
