<div id="home" ng-show="playing_data.history.length">

    <div class="col-xs-12">
        <h1>File History</h1>
    </div>
    <div class="row">
        <div class="col-xs-12">
          <table class="table table-stripe" ng-hide="playing_data.history.length == 0">
              <tr>
                  <th><a href="" ng-click="predicate = 'uname'; reverse=!reverse">User</a></th>
                  <th class="hidden-xs"><a href="" ng-click="predicate = 'percent_played'; reverse=!reverse">Percent Played</a></th>
                  <th class="hidden-xs"><a href="" ng-click="predicate = 'rating'; reverse=!reverse">Rating</a></th>
                  <th class="hidden-sm hidden-xs"><a href="" ng-click="predicate = 'score'; reverse=!reverse">Skip Score</a></th>
                  <th><a href="" ng-click="predicate = 'true_score'; reverse=!reverse">True Score</a></th>
                  <th><a href="" ng-click="predicate = 'date_played'; reverse=!reverse">Date</a></th>
              </tr>
              <tr ng-repeat="history in playing_data.history | orderBy : predicate : reverse">
                  <td>{{ history.uname }}</td>
                  <td class="hidden-xs">{{ history.percent_played }}</td>
                  <td class="hidden-xs">{{ history.rating }}</td>
                  <td class="hidden-sm hidden-xs">{{ history.score }}</td>
                  <td>{{ history.true_score | number : 2}}</td>
                  <td><span class="hidden-sm hidden-xs">{{ history.time_played | date : "medium" }}</span><span class="hidden-md hidden-lg">{{ history.time_played | date : "mediumDate" }}</span></td>
                  <td class="hidden-xs">{{ history.timeBetween }}</td>
              </tr>
          </table>
        </div>
    </div>
</div>