<div class="search-item">
  <div ng-hide="r.hide_cued">
      <button ng-if="r.cued" class="btn btn-primary glyphicon glyphicon-list" ng-click="uncue(r)"> <span class="glyphicon glyphicon-minus"></span></button>
      <button ng-if="!r.cued" class="btn btn-default glyphicon glyphicon-list" ng-click="cue(r)"> <span class="glyphicon glyphicon-plus"></span></button>
      <button class="btn btn-default" ng-if="!r.moreInfo.history" ng-click="moreInfo(r)"><span class="glyphicon glyphicon-time"></span> </button>
      <button class="btn btn-primary" ng-if="r.moreInfo.history" ng-click="r.moreInfo.history=null"><span class="glyphicon glyphicon-time"></span></button>
  </div>
  <br clear="all">
  <div ng-if="!r.artists || r.artists.length == 0">
      <a class="glyphicon glyphicon-info-sign item-info" data-template="/static/templates/popover.tpl.html" bs-modal="modal"></a>
      <a href="#/search/{{r.basename}}">{{r.basename}}</a>
      &nbsp;
  </div>
  <div ng-if="r.artists">
      <a class="glyphicon glyphicon-info-sign item-info" data-template="/static/templates/popover.tpl.html" bs-modal="modal"></a>
      <span ng-repeat="a in r.artists">
          <a href="#/search/{{a.artist}}">{{a.artist}}</a><span ng-if="!$last">, </span>
      </span> - 
      <a href="#/search/{{r.title}}" ng-if="r.title">{{r.title}}</a>
      <a href="#/search/{{r.basename}}" ng-if="!r.title">{{r.basename}}</a>
      &nbsp;
  </div>
  <div ng-if="r.albums.length > 0">
      <span ng-repeat="a in r.albums">
          <a  href="#/search/{{a.album_name}}">{{a.album_name}}</a><span ng-if="!$last">, </span>
      </span>
      &nbsp;
  </div>
  <div ng-if="r.genres.length > 0">
      <span ng-repeat="g in r.genres">
          <a  href="#/search/{{g.genre}}">{{g.genre}}</a><span ng-if="!$last">, </span>
      </span>
      &nbsp;
  </div>
  <div>
      <span ng-repeat="rating in r.ratings" class="pull-left">
          {{rating.uname}} {{ rating.true_score | number : 2}}
          <div class="star-rating" star-rating rating-value="rating" data-max="6"></div>
      </span>
      &nbsp;
  </div>
  <div class="clearfix"></div>
  
  <div ng-if="r.moreInfo.history">
      <h2>History</h2>
      <table class="table table-stripe">
          <tr>
              <th><a href="" ng-click="predicate = 'uname'; reverse=!reverse">User</a></th>
              <th class="hidden-xs"><a href="" ng-click="predicate = 'percent_played'; reverse=!reverse">Percent Played</a></th>
              <th class="hidden-xs"><a href="" ng-click="predicate = 'rating'; reverse=!reverse">Rating</a></th>
              <th class="hidden-sm hidden-xs"><a href="" ng-click="predicate = 'score'; reverse=!reverse">Skip Score</a></th>
              <th><a href="" ng-click="predicate = 'true_score'; reverse=!reverse">True Score</a></th>
              <th><a href="" ng-click="predicate = 'date_played'; reverse=!reverse">Date</a></th>
              <th class="hidden-xs"><a href="" ng-click="predicate = 'timeBetween'; reverse=!reverse">Time Between</a></th>
              <th class="hidden-xs"><a href="" ng-click="predicate = 'gap'; reverse=!reverse">Gap</a></th>
          </tr>
          <tr ng-repeat="history in r.moreInfo.history | orderBy : predicate : reverse">
              <td>{{ history.uname }}</td>
              <td class="hidden-xs">{{ history.percent_played }}</td>
              <td class="hidden-xs">{{ history.rating }}</td>
              <td class="hidden-sm hidden-xs">{{ history.score }}</td>
              <td>{{ history.true_score | number : 2}}</td>
              <td><span class="hidden-sm hidden-xs">{{ history.time_played | date : "medium" }}</span><span class="hidden-md hidden-lg">{{ history.time_played | date : "mediumDate" }}</span></td>
              <td class="hidden-xs">{{ history.timeBetween }}</td>
              <td class="hidden-xs">{{ history.gap }}</td>
          </tr>
      </table>
  </div>
  <div class="clearfix"></div>
</div>