            <div  class="col-xs-12 container-fluid" >
                <form class="form-inline">
                <div class="form-group" ng-if="ctrler=='SearchCtrl'">
                    <label for="queryInput" class="sr-only">Search Term</label>
                    <input type="text" id="queryInput" class="form-control" ng-model="query" placeholder="Enter artist title or rating:#" ng-keyup="keyup($event)">
                    <button class="btn btn-primary" ng-click="doSearch(query)">Search</button>
                </div>
                </form>
                <div ng-if="loading">Loading...</div>
                <bgf-pagination
                    page="page"
                    per-page="perPage"
                    client-limit="clientLimit"
                    url="queryUrl"
                    link-group-size="3"
                    collection="search_items"
                    template-url="/static/bower_components/angular-paginate-anything/tpl/paginate-anything.html">
                </bgf-pagination>
                <div>
                  <div ng-repeat="r in search_items" >
                    <div ng-include="'/static/templates/item-row.tpl.html?_='+cacheFix"></div>
                  </div><!-- end of ng-repeat -->
                </div>
                <bgf-pagination
                    page="page"
                    per-page="perPage"
                    client-limit="clientLimit"
                    url="queryUrl"
                    link-group-size="3"
                    collection="search_items"
                    template-url="/static/bower_components/angular-paginate-anything/tpl/paginate-anything.html">
                </bgf-pagination>
            </div>

            