<div class="row">
    <div class="col-md-1">Username</div>
    <div class="col-md-1">Listening</div>
</div>
<div ng-repeat="u in users">
    <div class="row">
        <div class="col-md-1"><label for="listener-{{u.uid}}">{{u.uname}}</label></div>
        <div class="col-md-1">
            <input type="checkbox"
                   ng-model="u.listening"
                   ng-change="setListening({{u.uid}}, {{!u.listening}})"
                   id="listener-{{u.uid}}"
                   value="{{u.uid}">
        </div>
    </div>
</div>