<h1>Podcasts</h1>

<button class="btn btn-default pull-right" ng-click="showAddFeedModal()"><span class="glyphicon glyphicon-plus"></span> Add Feed</button>



                
<br clear="all">
<br clear="all">
<accordion close-others="oneAtATime">
  <accordion-group is-open="podcast.open" ng-repeat="podcast in podcasts">
      <accordion-heading>
          <a ng-click="loadEpisodes(podcast.nid, podcast.open)">
            {{podcast.netcast_name}} 
            <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': podcast.open, 'glyphicon-chevron-right': !podcast.open}"></i>
          </a>
      </accordion-heading>
      <table class="table">
          <thead>
            <tr>
              <th>User</th>
              <th>Subscribed</th>
            </tr>
          </thead>
          <tr ng-repeat="user in podcast.subscribers">
            <td>{{ user.uname }}</td>
            <td><input type="checkbox" ng-change="subscribe(podcast.nid, user.uid, user.subscribed)" ng-model="user.subscribed"  ></td>
          </tr>
      </table>
      <table class="table">
          <thead>
            <tr>
              <th>Episode Title</th>
              <th>Publish Date</th>
              <th>Heard By</th>
            </tr>
          </thead>
          <tr ng-repeat="episode in podcast.episodes">
            <td>{{ episode.episode_title }}</td>
            <td>{{ episode.pub_date }}</td>
            <td>
                <span ng-repeat="user in episode.heard_by">{{user.uname}} </span>
                
            </td>
          </tr>
      </table>
  </accordion-group>
</accordion>

<button class="btn btn-default pull-right" ng-click="showAddFeedModal()"><span class="glyphicon glyphicon-plus"></span> Add Feed</button>
<br clear="all">