<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" ng-show="r.basename">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="modal-title" ng-bind="r.basename"></h5>
      </div>
      <div class="modal-body">
        <code>{{r.dirname}}</code><br>
        <code>{{r.basename}}</code>
        <h5>Artists</h5>
        <tags-input ng-model="r.artists" display-property="artist" min-length="1" 
          add-on-space="false" add-on-blur="false" replace-spaces-with-dashes="false"
          on-tag-removed="removeArtistTag(r.fid, $tag.aid)"
          on-tag-added="addArtistTag(r.fid, $tag)">
          <auto-complete source="loadArtistTags($query)"></auto-complete>
        </tags-input>

        <h5>Genres</h5>
        <tags-input ng-model="r.genres" display-property="genre" min-length="1" 
          add-on-space="false" add-on-blur="false" replace-spaces-with-dashes="false"
          on-tag-removed="removeGenreTag(r.fid, $tag.gid)"
          on-tag-added="addGenreTag(r.fid, $tag)">
          <auto-complete source="loadGenreTags($query)"></auto-complete>
        </tags-input>

        <h5>Albums</h5>
        <tags-input ng-model="r.albums" display-property="album_name" min-length="1" 
          add-on-space="false" add-on-blur="false" replace-spaces-with-dashes="false"
          on-tag-removed="removeAlbumTag(r.fid, $tag.alid)"
          on-tag-added="addAlbumTag(r.fid, $tag)">
          <auto-complete source="loadAlbumTags($query)"></auto-complete>
        </tags-input>

        <h5>Title</h5>
        <input type="text" ng-model="r.title" ng-change="setTitle(r.fid, r.title)" 
               class="form-control">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
      </div>
    </div>
  </div>
</div>
