<a ng-if="!item.playing" style="text-decoration: none;" class="glyphicon glyphicon-remove pull-right" ng-click="trash(item)"></a>
<br ng-if="item.playing" clear="all">
<a class="glyphicon pull-right" style="color:red; text-decoration: none;"
   ng-class="{'glyphicon-heart-empty':!item.keep,
              'glyphicon-heart':item.keep}"
   ng-click="item.keep=!item.keep"></a>

<div class="item-img pull-left" ng-if="item.image" style="background:url({{item.image}}) no-repeat fixed center; background-size: cover;background-color:rgba(0, 0, 0, 0.7);">
    <button class="btn btn-xs btn-default glyphicon glyphicon-play"
            ng-click="item.play()"
            ng-if="player.file.id!=item.id"></button>
    <button class="btn btn-xs btn-primary glyphicon"
            ng-click="item.pause()"
            ng-class="{'glyphicon-pause': player.state=='PLAYING',
                       'glyphicon-play': player.state!='PLAYING'}"
            ng-if="player.file.id==item.id"></button>
</div>
<div style="padding-top:5px">
    <div ng-if="!item.image" class="pull-left">
        <button class="btn btn-xs btn-default glyphicon glyphicon-play"
                ng-click="item.play()"
                ng-if="player.file.id!=item.id"></button>
        <button class="btn btn-xs btn-primary glyphicon"
                ng-click="item.pause()"
                ng-class="{'glyphicon-pause': player.state=='PLAYING',
                           'glyphicon-play': player.state!='PLAYING'}"
                ng-if="player.file.id==item.id"></button>
    </div>
    <div class="pull-left item-artist-title">
        {{item.artist_title}}
    </div>
</div>
<div class="clearfix"></div>
{{item.spec.cued.reason}}
<div ng-if="item.playing&&item.duration>=0&&item.position>=0&&item.remaining>=0">
    -{{item.remaining|formatTimer}} {{item.position|formatTimer}}/{{item.duration|formatTimer}}
</div>
<div class="clearfix"></div>