<br>
<h4>Listeners</h4>
<div class="form-horizontal">
  <div class="form-group">
    <label for="prefetchNum" class="col-sm-2 control-label">Primary Prefetch:</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" id="prefetchNum" placeholder="Prefetch for primary user" ng-model="listenersCollection.prefetchNum"  min="1" step="1">
    </div>
  </div>
  <div class="form-group">
    <label for="secondaryPrefetchNum" class="col-sm-2 control-label">Secondary Prefetch:</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" id="secondaryPrefetchNum" placeholder="Prefetch for primary user" ng-model="listenersCollection.secondaryPrefetchNum"  min="1" step="1">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button class="btn btn-xs btn-default" ng-click="save()">Save</button>
    </div>
  </div>
</div>
<table class="table table-striped">
    <tr>
        <th>Primary</th>
        <th>Username</th>
        <th>Secondary</th>
        <th>Listening</th>
    </tr>
    <tr ng-repeat="user in listenersCollection.users">
        <td>
            <button class="btn btn-xs"
                    ng-class="{
                      'btn-success glyphicon glyphicon-check
': user.id == listenersCollection.primary_user_id,
                      'btn-default glyphicon glyphicon-unchecked': user.id != listenersCollection.primary_user_id
                    }"
                    ng-click="setPrimary(user.id)"
            ></button>
        </td>
        <td>{{user.name}}</td>
        <td>
            <button class="btn btn-xs"
                    ng-if="listenersCollection.primary_user_id!=user.id"
                    ng-class="{
                      'btn-success glyphicon glyphicon-check
': listenersCollection.secondary_user_ids.indexOf(user.id) != -1,
                      'btn-default glyphicon glyphicon-unchecked': listenersCollection.secondary_user_ids.indexOf(user.id) == -1,
                    }"
                    ng-click="toggle('secondary', user.id)"
            ></button>
        </td>
        <td>
            <button class="btn btn-xs"
                    ng-if="listenersCollection.primary_user_id!=user.id"
                    ng-class="{
                      'btn-success glyphicon glyphicon-check
': listenersCollection.listener_user_ids.indexOf(user.id) != -1,
                      'btn-default glyphicon glyphicon-unchecked': listenersCollection.listener_user_ids.indexOf(user.id) == -1,
                    }"
                    ng-click="toggle('listening', user.id)"
            ></button>
        </td>
    </tr>
</table>