<h3>Listeners</h3>

<table class="table table-striped">
    <tr>
        <th>Primary</th>
        <th>Username</th>
        <th>Secondary</th>
        <th>Listening</th>
    </tr>
    <tr ng-repeat="user in listenersCollection.users">
        <td>
            <button class="btn btn-xs"
                    ng-class="{
                      'btn-success glyphicon glyphicon-check
': user.id == listenersCollection.primary_user_id,
                      'btn-default glyphicon glyphicon-unchecked': user.id != listenersCollection.primary_user_id
                    }"
                    ng-click="setPrimary(user.id)"
            ></button>
        </td>
        <td>{{user.name}}</td>
        <td>
            <button class="btn btn-xs"
                    ng-if="listenersCollection.primary_user_id!=user.id"
                    ng-class="{
                      'btn-success glyphicon glyphicon-check
': listenersCollection.secondary_user_ids.indexOf(user.id) != -1,
                      'btn-default glyphicon glyphicon-unchecked': listenersCollection.secondary_user_ids.indexOf(user.id) == -1,
                    }"
                    ng-click="toggle('secondary', user.id)"
            ></button>
        </td>
        <td>
            <button class="btn btn-xs"
                    ng-if="listenersCollection.primary_user_id!=user.id"
                    ng-class="{
                      'btn-success glyphicon glyphicon-check
': listenersCollection.listener_user_ids.indexOf(user.id) != -1,
                      'btn-default glyphicon glyphicon-unchecked': listenersCollection.listener_user_ids.indexOf(user.id) == -1,
                    }"
                    ng-click="toggle('listening', user.id)"
            ></button>
        </td>
    </tr>
</table>