<br>
<span class='pull-right'><small>{{connection.type}}</small></span>
<h4>Player</h4>
<span ng-include src="'partials/top-buttons.html'"></span>
<div class="row" ng-repeat="item in [player.file] track by item.id">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
         ng-include src="'partials/item.html'"></div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
         ng-repeat="(key, ufi) in item.spec.user_file_info track by ufi.id"
         ng-if="listenersCollection.listener_user_ids.indexOf(ufi.user.id)!=-1||ufi.user.id == listenersCollection.primary_user_id"
         ng-include src="'partials/ufi.html'"></div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-if="item.err||!item.exists">
        <div ng-if="item.err" class="alert alert-danger">{{item.err}}</div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <rzslider rz-slider-model="item.position"
                  rz-slider-options="{floor: 0, ceil:item.duration, onStart: onStart, onEnd:onEnd, onChange:onChange, translate:translate}"></rzslider>
    </div>
</div>
<br clear="all">
<br clear="all">
<br clear="all">

