<br>
<span class='pull-right'><small>{{connection.type}}</small></span>
<h4>Playlist</h4>
<span ng-include src="'partials/top-buttons.html'"></span>
<div class="input-group input-group-sm">
  <div class="input-group-btn">
    <button type="button" class="glyphicon glyphicon-search btn btn-default btn-sm" ></button>
  </div>
  <input type="text" class="form-control" placeholder="search" aria-describedby="sizing-addon1" ng-model="search">
</div>

<button class="btn btn-default btn-xs" ng-click="more(-2);" ng-if="showing.lowest>0" in-view="moreInView(-2)">Load More -</button>
<div class="row" ng-repeat="item in FmpPlaylistCollection.files | filterPlaylist:search track by item.id" ng-if="(item.playing ||
           !item.cued ||
           listenersCollection.listener_user_ids.indexOf(item.cued.user_id) != -1 ||
           listenersCollection.primary_user_id==item.cued.user_id) && item.showing" in-view="checkInview($index)">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
         ng-include src="'partials/item.html'" id="file-{{item.id}}"></div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
         ng-repeat="(key, ufi) in item.spec.user_file_info track by ufi.id"
         ng-if="listenersCollection.listener_user_ids.indexOf(ufi.user.id) != -1 || ufi.user.id == listenersCollection.primary_user_id"
         ng-include src="'partials/ufi.html'"></div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-if="item.err||!item.exists">
        <div ng-if="item.err" class="alert alert-danger">{{item.err}}</div>
        <div ng-if="!item.exists">
            progress: {{item.progress}}
            <div class="progress" width="100%">
              <div class="progress-bar"
                   ng-class="{
                    'progress-bar-success': item.progress == 100,
                    'progress-bar-warning': item.progress>=10 && item.progress<100,
                    'progress-bar-danger': item.progress <= 10
                   }"
                   role="progressbar"
                   aria-valuenow="{{item.progress}}"
                   aria-valuemin="0"
                   aria-valuemax="100"
                   ng-style="{'width': item.progress + '%'}">
                <span>{{item.progress}}%</span>
              </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <span class="badge" ng-if="item.played">played</span>
        <span class="badge" ng-if="item.skipped">skipped</span>
        <span class="badge" ng-if="item.needsSync"><a ng-click="syncFile(item)">needs sync</a></span>
        <span class="badge" ng-if="item.playing">playing</span>
        <hr>
    </div>
</div>
<button class="btn btn-default btn-xs" ng-click="more(+2);" ng-if="showing.highest<FmpPlaylistCollection.files.length" in-view="moreInView(+2)">Load More +</button>
<br clear="all">
<br clear="all">
<br clear="all">
<br clear="all">