<br>
<h4>Remote</h4>
Bluetooth:{{collection.adapterInfo.enabled}}<br>
discoveryLock:{{collection.discoveryLock}}<br>
<button class="btn btn-default btn-sm" ng-click="startDiscovery()">startDiscovery</button>
<button class="btn btn-default btn-sm" ng-click="requestDiscoverable()">requestDiscoverable</button>
<button class="btn btn-default btn-sm" ng-click="sendTest()">sendTest</button>
<pre>{{collection.adapterInfo|json}}</pre>
devices:
<table>
    <tr ng-repeat="(address, device) in collection.devices">
        <td>
            <button class="btn btn-default btn-sm" ng-click="connectToPeer(device)">{{address}}</button>
        </td>
        <td>
            <button ng-if="!device.paired" class="btn btn-default btn-sm" ng-click="connectToPeer(device)">pair</button>
            <button ng-if="device.paired" class="btn btn-primary btn-sm">pair</button>

             {{device.address}} {{device.name}}

        </td>
    </tr>
</table>
<h2>
receiveObj:<pre>{{receiveObj|json}}</pre>
</h2>
<pre>{{collection|json}}</pre>

<br>
<br>
<br>
<br>
<br>
<br>
<br>