<span ng-if="!FmpSyncCollection.syncPreloadLock">
    <span ng-if="connection.type=='wifi'">
        <button class="btn btn-default btn-sm glyphicon glyphicon-transfer" ng-click="syncCollections()">
            <span ng-if="FmpSyncCollection.syncQue.length>0" style="position: relative; padding-left: 5px;">
                <small>{{FmpSyncCollection.syncTotal}}:{{FmpSyncCollection.syncQue.length}}</small>
            </span>
        </button>
        <button class="btn btn-default btn-sm glyphicon glyphicon-compressed" ng-click="syncCollections(true)"></button>
        <button ng-if="FmpSyncCollection.FmpIpScanner.collection.url"
                class="btn btn-default btn-sm glyphicon glyphicon-search"
                ng-click="openSearch()"></button>
    </span>
    <button ng-if="!FmpSyncCollection.syncQue||FmpSyncCollection.syncQue.length<=0" class="btn btn-default btn-sm" ng-click="organize()">organize</button><br>
</span>
<span ng-if="FmpSyncCollection.syncPreloadLock">
<img src="img/loading.svg"><small>Getting new files ...</small><br>
</span>